@charset "UTF-8";

/* This file contains all styles related of the site/application "GameOne". */

/*-----------------------------------------------
1. General styles
2. Break points
   a. 768px to 967px
   b. 967px
   c. 768px
   d. 424px
   e. 361px
3. Keyframes
   a. modalopen
-----------------------------------------------*/

/*-----------------------------------------------
1. General styles
-----------------------------------------------*/
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1107px;
  margin: 0 auto;
  font-family: var(--font-default);
  font-size: 18px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3.5%;
  padding: 0 7px;
  overflow: hidden;
}

.header-logo img {
  width: 230px;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 10px;
  margin: 5px;
  text-decoration: none;
  font-size: 17px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover {
  border-radius: 15px;
  background-color: #ff0000;
  color: #ffffff;
}

.topnav a.active {
  border-radius: 15px;
  background-color: #ff0000;
  color: #ffffff;
}

.active span {
  border-bottom: 2px solid white;
}

a:hover span {
  border-bottom: 2px solid white;
}

.topnav .icon {
  display: none;
}

main {
  margin: 1px 20px 15px;
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 2rem;
  color: black;
  font-size: 130%;
  font-weight: bolder;
}

.modal-btn {
  display: flex;
  margin: auto;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  background: #fe142f;
  color: #fff;
  font-size: 145%;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

.footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
}

.button {
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 15px;
  background: #fe142f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}

.bground-confirmation {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

#confirmation p {
  margin: 200px 15%;
  font-weight: 400;
  text-align: center;
}

.bground {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 5% auto;
  padding-top: 10px;
  overflow: hidden;
  border-radius: 10px;
  background: #232323;
  color: #fff;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-body {
  margin: 15px auto;
  padding: 15px 8%;
}

label {
  display: inline-block;
  margin-bottom: 11px;
  margin-top: 5px;
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 20px;
}

.formData[data-error]::after {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0;
  color: #ff4e60;
  font-size: 12px;
  line-height: 14px;
  content: attr(data-error);
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.error-message {
  margin-left: 4px;
  color: #ff4e60;
  font-size: 12px;
  line-height: 14px;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: -30px;
  top: -1px;
  white-space: nowrap;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 50%;
  top: 50%;
  opacity: 0;
  white-space: nowrap;
  border-radius: 50%;
  background-color: #279e7a;
  text-indent: 29px;
  content: "";
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border: 0;
  border-radius: 4px;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  left: 21%;
  top: 19%;
  border-radius: 2px;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  background: transparent;
  transform: rotate(-55deg);
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 15px;
  top: 15px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  width: 3px;
  height: 33px;
  left: 15px;
  background-color: #fff;
  content: " ";
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup {
  display: block;
  margin: 10px auto 0 auto;
  padding: 12px 82px;
  border: 0;
  border-radius: 7px;
  background: #fe142f;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

.select-selected:after {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 10px;
  right: 13px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  border-radius: 5px 0 5px 0;
  content: "";
  transform: rotate(-48deg);
}

.select-selected.select-arrow-active:after {
  top: 13px;
  transform: rotate(135deg);
}

.select-items div,
.select-selected {
  padding: 11px 16px;
  height: 48px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
}

.select-items {
  position: absolute;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.text-label {
  font-size: 16px;
  font-weight: normal;
}

.hero-section {
  display: flex;
  box-shadow: 0 2px 7px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}

.hero-content {
  position: relative;
  grid-column: span 4;
  width: 40%;
  padding: 51px 67px 51px 50px;
  background: #232323;
  color: #fff;
  text-align: left;
}

.hero-content>* {
  position: relative;
  z-index: 1;
}

.hero-headline {
  white-space: nowrap;
  font-size: 5rem;
  font-weight: normal;
}

.hero-text {
  width: 146%;
  margin-top: 57px;
  padding: 0;
  font-weight: normal;
}

.btn-signup {
  outline: none;
  font-size: 1.3rem;
  margin: 59px 0 0 0;
  padding: 15px 23px;
}

.hero-img {
  grid-column: span 8;
}

.hero-img img {
  height: 100%;
  padding: 0;
}

.copyrights {
  margin: 60px 0 30px;
  padding: 0;
  color: #fe142f;
  font-size: 1rem;
  font-weight: bolder;
}

.hero-section>.btn-signup {
  display: none;
}

footer {
  margin: 0 20px;
  padding-left: 2vw;
  padding-right: 2vw;
}

/*-----------------------------------------------
2. Break point
-----------------------------------------------*/
/* a. 768px to 967px
========================== */
@media screen and (min-width: 768px) and (max-width: 967px) {
  .header-logo {
    margin-bottom: 20px;
  }
}

/* b. 967px
========================== */
@media screen and (max-width: 967px) {
  .hero-headline {
    font-size: 4rem;
  }
}

/* c. 768px
========================== */
@media screen and (max-width: 768px) {
  .content {
    margin: 17% auto;
  }
  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
  .header-logo img {
    width: 160px;
    margin-top: 9px;
  }
  .hero-section {
    display: block;
    box-shadow: unset;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    background: #fff;
    color: #000;
  }
  .hero-content .btn-signup {
    display: none;
  }
  .hero-headline {
    width: 100%;
    white-space: normal;
    font-size: 45px;
    text-align: center;
  }
  .hero-text {
    width: 100%;
    margin-top: 30px;
    font-size: 19px;
    text-align: justify;
  }
  .hero-img img {
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
  }
  .hero-section>.btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }
  .main-navbar:hover a.icon {
    color: white;
  }
  .topnav {
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: block;
    float: right;
    color: #ff0000;
  }
  .topnav a.icon:hover {
    color: white;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 15px;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
}

/* d. 424px
========================== */
@media screen and (max-width: 424px) {
  .error-message {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

/* e. 361px
========================== */
@media screen and (max-width: 361px) {
  .checkbox-label,
  .checkbox2-label {
    margin-top: 10px;
  }
}

/*-----------------------------------------------
3. Keyframes
-----------------------------------------------*/
/* a. modalopen
========================== */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
  }
}

/*-----------------------------------------------
END
-----------------------------------------------*/